.product-style
{
  padding:30px;
  border:1px solid #ccc;
}
.product-style:hover
{
   box-shadow: 3px 3px 4px 3px #ccc;
  
}

/* Mission Section */
   .vl {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
/* End Mission Section */

